.newsContainer{
    margin-bottom: 100px;
}

.title{
    position: relative;
    top: 10%;
    color: white;
    font-size: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bolder;
}

.conNews{
    margin-left: 20px;
    text-decoration: none;
}

.scroll {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.newsDesc{
    position: relative;
    color: white;
    top: 10%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: lighter;
}