.newsDetailed{
    padding: 5%;
    margin-top: 30px;
}

.title{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.info{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 9%;
}

.fullInfo{
    padding-top: 20px;
    text-align: justify;
    
}

.image{
    box-shadow: 5px 10px 10px grey;
}

.titleDisc{
    font-size: 30px;
    font-weight: bolder;
}

.card {
    width: 100%;
    margin-top: 2%;
}

.commT {
    border-top: solid .5px #343A40;
    
}

.textComm {
    font-size: "3s0px"; 
    font-weight: "bold";
    text-align: "center";
    padding-top: "100px";
}