.navContainer{
  position: fixed;
  height: 50px;
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 10000;
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#48567F, 0,#48567F    100%) !important; /* override background image gradient w/ flat color */
}

.link{
  color: #9b9d9a;
  margin-right: 10px;
  vertical-align: middle;
}

.links{
  color: #9b9d9a;
  margin-right: 40px;
  vertical-align: middle;
  font-size: 17px;
}

.links:hover{
  text-decoration: none;
  color: #cccecf;
}

.brandSubtext {
    font-size: 13px;
    text-align: initial;
    text-decoration: none;   
}