.title{
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin-left: 10%;
    width: 80%;
}

.sesion{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 70px;
}

.discussion{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-left: 12%;
}
